/* common shared styles */
body {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

/* nav related styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 230px;
}

nav>ul {
    align-items: center;
}

.nav-title {
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}

#r {
    color: #FD6E0A;
    font-size: 45px;
    font-weight: 800;
}

nav li {
    display: inline;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: black;
}

.btn-primary {
    border-radius: 5px;
    background: #FD6E0A;
    border: 1px solid white;
    border-radius: 5px;
    color: var(--White-Color, #FFF);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    padding: 18px 35px 19px 36px;
}

header {
    background: #FFF8F3;
    background-image: url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}

/* banner related styles */
.banner {
    padding: 30px 30px 0px 150px;
    display: flex;
    justify-content: space-between;
}

.banner-greetings {
    color: #474747;
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 5px;
}

.banner-title {
    color: #181818;
    font-size: 85px;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 0px;
}

.banner-text {
    color: #757575;
    font-size: 18px;
    font-weight: 400;
    width: 585px;
    margin-top: 20px;
}

.banner img {
    width: 584px;
    height: 676px;
}

/* section related styles */
.about {
    background: #FFF8F3;
    border-radius: 10px;
    margin: 130px 0;
    padding: 130px;
}

.section-title {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 0px;
}

.section-des {
    color: #757575;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    padding-left: 156px;
    padding-right: 157px;
    margin-top: 30px;
    margin-bottom: 30px;
}

main {
    max-width: 1140px;
    margin: 0 auto;
}

.info-container {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.about-info {
    text-align: center;
}

.skills-container {
    display: flex;
    gap: 24px;
    margin-top: 50px;
}

.skill {
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    padding: 30px 63px 30px 33px;
}